.startsideknapper{
    margin: 20px;
}

.startsideknapperbillede{
    display: block;
    height: 320px;
    width: 350px;
    object-fit: contain;
}
.button{
    margin: 100px;
    size: 50px 30px;
    color: palegreen;
}