.td, th{
    border: #949494;
}
.tr:nth-child(even){
    background-color: whitesmoke;
    color: black;
    border: black;
}
.tr:nth-child(odd){
    background-color: #f7f7ff;
    color: black;
    border: black;
}
.topbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: top;
    width: 100%;
    background-color: #d2d2d2;
    color: black;
    display: block;
    overflow: hidden;
}
.startsideknapper{
    float: bottom;
    width: 410px;
    height: 210px;
    padding: 5PX;
    color: black;
    background-color: #f5f7ff;
    border-radius: 2%;
}
.startsideknapperbillede{
    width: 80%;
    height: 80%;
    object-fit: fill;
}
.topbarknap{
    float: left;
    height: max-content;
    background-color: #d2d2d2;
    padding: 10px 5px;
    display: block;
    border: #d2d2d2;
}
.topbarknap:hover{
    background-color: #61a0ff;
    color: #ffffff;
}
.topbarknapmedbilled{
    float: left;
    height: max-content;
    background-color: #d2d2d2;
    display: block;
    border: #d2d2d2;
}
.topbarsidenavn{
    margin: 7px;
    float: right;
    font-family: Arial;
}
.topbarbillede{
    margin: 0px;
    padding: 0px;
    object-fit: fill;
}
.form {
    padding: 1px;
    background: #ababab;
    border: 1px solid #c1c1c1;
    margin-top: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.form input {
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #9c9c9c;
}
.form button {
    background: lightgrey;
    padding: 0.7em;
    border: 0;
}
.form button:hover {
    background: floralwhite;
}
.label {
    text-align: left;
    display: block;
    padding: 0.5em 0.5em 0.5em 10px;
}
.input {
    width: 100%;
    padding: 0.7em;
    margin-bottom: 0.5rem;
    position: center;
}
.input:focus {
    outline: 3px solid #5d676e;
}
@media (min-width: 400px) {
    .form {
        position: center;
        overflow: hidden;
    }
    .label {
        width: 200px;
    }
    .input {
        position: center;
        width: calc(100% - 25px);
    }
    .button {
        width: calc(100% - 177px);
    }
    .div1{
        background-color: #f5f7ff;
        border: 1px solid black;
        position: absolute;
        right: 30%;
        width: calc(80% - 600px);
        padding: 25px;
    }
}
