.startsideknapper{
    margin: 20px;
}

.startsideknapperbillede{
    display: block;
    height: 320px;
    width: 350px;
    object-fit: contain;
}
.button{
    margin: 20px;
    size: 50px 30px;
}

.form{
    text-shadow: black 2px 2px 2px;
    background-color: azure;
    padding: 10px;
}