<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../stylesheet.css">
</head>
<body>
<div class="topbar">
    <a href="/"><button class="topbarknap">HOME</button></a>
    <label class="topbarsidenavn" style="float:right">Liste over vores biler</label>
    <a href="/administrerBiler">
        <button class="topbarknap">Tilbage</button></a>
    <a href="administrerAbonnementer">
        <button class="topbarknap">Administrer Abonnementer</button></a>
    <a href="administrerBiler">
        <button class="topbarknap">Administrer Biler</button></a>
    <a href="administrerFejlrapporterData">
        <button class="topbarknap">Administrer fejlrapporter</button></a>
</div>
<table>
    <thead>
    <tr>
        <th>Kundenummer</th>
        <th>Fornavn</th>
        <th>Efternavn</th>
        <th>Telefon nummer</th>
        <th>Adresse</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr class="tr">
        <td th:text="${kundeDerSkalSlettes.kundenummer}"/>
        <td th:text="${kundeDerSkalSlettes.fornavn}"/>
        <td th:text="${kundeDerSkalSlettes.efternavn}"/>
        <td th:text="${kundeDerSkalSlettes.tlfnummer}"/>
        <td th:text="${kundeDerSkalSlettes.adresse}"/>
        <td th:text="${kundeDerSkalSlettes.email}"/>
    </tr>
    </tbody>
</table>
<div>
    <p>Skal denne kunde fjernes fra systemet?</p>
    <a th:href="@{'/bekræftSletKundeKnap/'+${kundeDerSkalSlettes.kundenummer}}">
        <button>Ja</button></a>
    <a href="/bekræftSletKundeKnapNej">
        <button>Nej</button></a>
</div>
</body>
</html>