<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../stylesheet.css">
</head>
<body>
    <h1>Dataregistrering</h1>

    <a href="administrerAbonnementer">
        <button class="button">Administrer Abonnementer</button></a>

    <a href="administrerBiler">
        <button class="button">Administrer Biler</button></a>

    <a href="administrerFejlrapporterData">
        <button class="button">Administrer fejlrapporter</button></a>

</body>
</html>