<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns="http://www.w3.org/1999/xhtml">
    <title>Opdater Abonnement</title>
</head>
<body>
<h2>Opdater Abonnement</h2>
<div>



    <form action="/opdaterAbonnement" method="post">
        <label>AbonnementNummer</label>
        <input type="text" readonly name="abonnementnummer" th:value="${abonnement.abonnementnummer}"/>
        <label>Vognnummer</label>
        <input type="text" id="vognnummer" name="vognnummer" th:value="${abonnement.vognnummer}"/>
        <label>Start Dato</label>
        <input type="text" id="startdato" name="startdato" th:value="${abonnement.startdato}"/>
        <label>Slut Dato</label>
        <input type="text" id="slutdato" name="slutdato" th:value="${abonnement.slutdato}"/>
        <label>månedlige pris</label>
        <input type="text" id="prisprmaaned" name="prisprmaaned" th:value="${abonnement.prisprmaaned}"/>
        <label>Bilens max km</label>
        <input type="text" id="maxkm" name="maxkm" th:value="${abonnement.maxkm}"/>
        <label>Kundenummer</label>
        <input type="text" id="kundenummer" name="kundenummer" th:value="${abonnement.kundenummer}"/>
        <input type="submit" value="Gem Ændringer">
    </form>
</div>

</body>
</html>