<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../stylesheet.css">
</head>
<body>
<div class="topbar">
    <a href="/"><button class="topbarknap">HOME</button></a>
    <label class="topbarsidenavn" style="float:right">Opret bil</label>
    <a href="/administrerBiler">
        <button class="topbarknap">Tilbage</button></a>

    <a href="administrerAbonnementer">
        <button class="topbarknap">Administrer Abonnementer</button></a>

    <a href="administrerBiler">
        <button class="topbarknap">Administrer Biler</button></a>

    <a href="administrerFejlrapporterData">
        <button class="topbarknap">Administrer fejlrapporter</button></a>
    <a href="administrerKunder">
        <button class="topbarknap">Administrer Kunderegister</button></a>
</div>
<div class="div1 indhold">
    <table>
        <form class="form" action="/opretBil" method="post">
            <label>Bilens vognnummer</label>
            <input type="text" name="vognnummer">
            <label>Bilens stelnummer</label>
            <input type="text" name="stelnummer">
            <label>Bilens mærke</label>
            <input type="text" name="maerke">
            <label>Bilens model</label>
            <input type="text" name="model">
            <label>Hvilken type brændstof</label>
            <input type="text" name="braendstoftype">
            <label>Hvilket udstyrsniveau</label>
            <input type="text" name="udstyrsniveau">
            <label>Bilens odometer</label>
            <input type="text" name="odometer">
            <label>Antal hestekræfter</label>
            <input type="text" name="hestekraefter">
            <label>Bilens stålpris</label>
            <input type="text" name="staalpris">
            <label>Bilens Co2 udledning</label>
            <input type="text" name="co2udledning">
            <label>Hvor langt kører bilen pr liter</label>
            <input type="text" name="kmprliter">
            <label>Bilens registreringsafgift</label>
            <input type="text" name="registreringsafgift">
            <label>Tilgængelighed</label>
            <input type="text" name="bilstatus">
            <input type="submit" value="Opret bilen">
        </form>
    </table>
</div>
</body>
</html>
