<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../stylesheet.css">
</head>
<body>
<h2>Opret Kunde</h2>
<a href="/administrerKunder">
    <button>Tilbage</button></a>
<div class="div1 indhold">
    <table>
        <form class="form" action="/opretKundeKnap" method="post">
            <label>Kundenummer</label>
            <input type="text" name="kundenummer">
            <label>Fornavn</label>
            <input type="text" name="fornavn">
            <label>Efternavn</label>
            <input type="text" name="efternavn">
            <label>telefon nummer</label>
            <input type="text" name="tlfnummer">
            <label>Adresse</label>
            <input type="text" name="adresse">
            <label>Email</label>
            <input type="text" name="email">
            <input type="submit" value="Opret Kunden">
        </form>
    </table>
</div>
</body>
</html>
