<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>opret bilside</h2>
    <a href="/administrerBiler">
        <button>Tilbage</button>
    </a>
    <table>
        <form action="/opretBil" method="post">
            <label>Bilens vognnummer</label>
            <input type="text" name="vognnummer">
            <label>Bilens stelnummer</label>
            <input type="text" name="stelnummer">
            <label>Bilens mærke</label>
            <input type="text" name="maerke">
            <label>Bilens model</label>
            <input type="text" name="model">
            <label>Hvilken type brændstof</label>
            <input type="text" name="braendstoftype">
            <label>Hvilket udstyrsniveau</label>
            <input type="text" name="udstyrsniveau">
            <label>Bilens odometer</label>
            <input type="text" name="odometer">
            <label>Antal hestekræfter</label>
            <input type="text" name="hestekraefter">
            <label>Bilens stålpris</label>
            <input type="text" name="staalpris">
            <label>Bilens co2udledning</label>
            <input type="text" name="co2udledning">
            <label>Hvor langt kører bilen pr liter</label>
            <input type="text" name="kmprliter">
            <label>Bilens registreringsafgift</label>
            <input type="text" name="registreringsafgift">
            <input type="submit" class="button1" value="Opret bilen">
        </form>
    </table>
</body>
</html>
