<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../stylesheet.css">
</head>
<body>
  <h1> BilAbonnement.dk</h1>

  <a href="/startsideDataregistrering">
      <button class="startsideknapper"> Dataregistrering <img class="startsideknapperbillede" src="./dataregistrering.jpg" alt="dataregistrering"></button></a>


  <a href="/startsideSkadeogUdbedring">
      <button class="startsideknapper">Skade- og Udbedring<img class="startsideknapperbillede" src="./skadeogudbedring.jpg" alt="skadeogudbedring"></button></a>


  <a href="/startsideForretningsUdviklere">
      <button class="startsideknapper">Forretningsudviklere<img class="startsideknapperbillede" src="./forretningsudvikling.jpg" alt="forretsningsudvikling"></button></a>


</body>
</html>